{% extends 'base.html' %}

{% block title %} Academics | About {% endblock %}

{% load static %}

{% block content %}
<!-- Header Area End Here -->
    <!-- Inner Page Banner Area Start Here -->
    <div class="inner-page-banner-area" style="background-image: url('../../static/img/banner/5.jpg');">
        <div class="container">
            <div class="pagination-area">
                <h1>About us - 02</h1>
                <ul>
                    <li><a href="#">Home</a> -</li>
                    <li>About</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Inner Page Banner Area End Here -->
    <!-- About Page 2 Area Start Here -->
    <div class="about-page2-area">
        <div class="container">
            <div class="row about-page2-inner">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <h2 class="title-default-left">About Our Institution</h2>
                    <p>Tmply dummy text of the printing and typesetting indust Lorem Ipsum has been theitry's snce
                        simply dummy text of the printing.Phasellus enim libero, blandit vel sapien vitae, condimentum
                        ultricies magna euismod.Tmply dummy text of the printing and typesetting indust Lorem Ipsum has
                        been theitr.</p>
                    <ul>
                        <li><a href="#">Materiality & Interpretation</a></li>
                        <li><a href="#">Design Management and Cultural Enterprise</a></li>
                        <li><a href="#">Experience Design (XD)</a></li>
                        <li><a href="#">Sound Design; Social Media and SEO</a></li>
                    </ul>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="video-area2 overlay-video bg-common-style video-margin-top"
                         style="background-image: url('img/banner/6.jpg');">
                        <div class="video-content">
                            <a class="play-btn popup-youtube" href="http://www.youtube.com/watch?v=1iIZeIy7TqM"><i
                                    class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Page 2 Area End Here -->
    <!-- Why Choose Area Start Here -->
    <div class="why-choose-area">
        <div class="container">
            <h2 class="about-title">Why Choose Our Institution?</h2>
            <p class="about-sub-title">Tmply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                theindustry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="service-box4">
                        <div class="service-box-icon">
                            <a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
                        </div>
                        <h3><a href="#">Scholarship Facility</a></h3>
                        <p>Dorem Ipsum has been the industry's standard dummy text ever since the en an unknown printer
                            galley dear.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="service-box4">
                        <div class="service-box-icon">
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                        </div>
                        <h3><a href="#">Skilled Lecturers</a></h3>
                        <p>Dorem Ipsum has been the industry's standard dummy text ever since the en an unknown printer
                            galley dear.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="service-box4">
                        <div class="service-box-icon">
                            <a href="#"><i class="fa fa-book" aria-hidden="true"></i></a>
                        </div>
                        <h3><a href="#">Book Library & Store</a></h3>
                        <p>Dorem Ipsum has been the industry's standard dummy text ever since the en an unknown printer
                            galley dear.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Area End Here -->
    <!-- Counter Area Start Here -->
    <div class="counter-area bg-primary-deep" style="background-image: url('../../static/img/banner/4.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 counter1-box wow fadeInUp" data-wow-duration=".5s"
                     data-wow-delay=".20s">
                    <h2 class="about-counter title-bar-counter" data-num="80">80</h2>
                    <p>PROFESSIONAL TEACHER</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 counter1-box wow fadeInUp" data-wow-duration=".5s"
                     data-wow-delay=".40s">
                    <h2 class="about-counter title-bar-counter" data-num="20">20</h2>
                    <p>NEWS COURSES EVERY YEARS</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 counter1-box wow fadeInUp" data-wow-duration=".5s"
                     data-wow-delay=".60s">
                    <h2 class="about-counter title-bar-counter" data-num="56">56</h2>
                    <p>NEWS COURSES EVERY YEARS</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 counter1-box wow fadeInUp" data-wow-duration=".5s"
                     data-wow-delay=".80s">
                    <h2 class="about-counter title-bar-counter" data-num="77">77</h2>
                    <p>REGISTERED STUDENTS</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Counter Area End Here -->
    <!-- Lecturers Area Start Here -->
    <div class="lecturers-area">
        <div class="container">
            <h2 class="title-default-left">Our Skilled Lecturers</h2>
        </div>
        <div class="container">
            <div class="rc-carousel" data-loop="true" data-items="4" data-margin="30" data-autoplay="true"
                 data-autoplay-timeout="10000" data-smart-speed="2000" data-dots="false" data-nav="true"
                 data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="true" data-r-x-small-dots="false"
                 data-r-x-medium="2" data-r-x-medium-nav="true" data-r-x-medium-dots="false" data-r-small="3"
                 data-r-small-nav="true" data-r-small-dots="false" data-r-medium="4" data-r-medium-nav="true"
                 data-r-medium-dots="false" data-r-large="4" data-r-large-nav="true" data-r-large-dots="false">
                <div class="single-item">
                    <div class="single-item-wrapper">
                        <div class="lecturers-img-wrapper">
                            <a href="#"><img class="img-responsive" src="{% static 'img/team/1.jpg' %}" alt="team"></a>
                        </div>
                        <div class="lecturers-content-wrapper">
                            <h3 class="item-title"><a href="#">Rosy Janner</a></h3>
                            <span class="item-designation">Senior Finance Lecturer</span>
                            <ul class="lecturers-social">
                                <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single-item">
                    <div class="single-item-wrapper">
                        <div class="lecturers-img-wrapper">
                            <a href="#"><img class="img-responsive" src="{% static 'img/team/2.jpg' %}" alt="team"></a>
                        </div>
                        <div class="lecturers-content-wrapper">
                            <h3 class="item-title"><a href="#">Mike Hussy</a></h3>
                            <span class="item-designation">Senior Finance Lecturer</span>
                            <ul class="lecturers-social">
                                <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single-item">
                    <div class="single-item-wrapper">
                        <div class="lecturers-img-wrapper">
                            <a href="#"><img class="img-responsive" src="{% static 'img/team/3.jpg' %}" alt="team"></a>
                        </div>
                        <div class="lecturers-content-wrapper">
                            <h3 class="item-title"><a href="#">Daziy Millar</a></h3>
                            <span class="item-designation">Senior Finance Lecturer</span>
                            <ul class="lecturers-social">
                                <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single-item">
                    <div class="single-item-wrapper">
                        <div class="lecturers-img-wrapper">
                            <a href="#"><img class="img-responsive" src="{% static 'img/team/4.jpg' %}" alt="team"></a>
                        </div>
                        <div class="lecturers-content-wrapper">
                            <h3 class="item-title"><a href="#">Kazi Fahim</a></h3>
                            <span class="item-designation">Senior Finance Lecturer</span>
                            <ul class="lecturers-social">
                                <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single-item">
                    <div class="single-item-wrapper">
                        <div class="lecturers-img-wrapper">
                            <a href="#"><img class="img-responsive" src="{% static 'img/team/1.jpg' %}" alt="team"></a>
                        </div>
                        <div class="lecturers-content-wrapper">
                            <h3 class="item-title"><a href="#">Rosy Janner</a></h3>
                            <span class="item-designation">Senior Finance Lecturer</span>
                            <ul class="lecturers-social">
                                <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single-item">
                    <div class="single-item-wrapper">
                        <div class="lecturers-img-wrapper">
                            <a href="#"><img class="img-responsive" src="{% static 'img/team/2.jpg' %}" alt="team"></a>
                        </div>
                        <div class="lecturers-content-wrapper">
                            <h3 class="item-title"><a href="#">Mike Hussy</a></h3>
                            <span class="item-designation">Senior Finance Lecturer</span>
                            <ul class="lecturers-social">
                                <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Lecturers Area End Here -->
    <!-- Footer Area Start Here -->
{% endblock %}