{% extends 'base.html' %}

{% block title %} Academics | Courses {% endblock %}

{% block content %}

{% load static %}
<!-- Header Area End Here -->
    <!-- Inner Page Banner Area Start Here -->
    <div class="inner-page-banner-area" style="background-image: url('../../static/img/banner/5.jpg');">
        <div class="container">
            <div class="pagination-area">
                <h1>Course - 02</h1>
                <ul>
                    <li><a href="#">Home</a> -</li>
                    <li>Course</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Inner Page Banner Area End Here -->
    <!-- Courses Page 1 Area Start Here -->
    <div class="courses-page-area1">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 order-md-2">
                    <div class="tab-content">
                        <!-- <div class="tab-pane tab-item animated fadeIn" id="menu-1" role="tabpanel"
                             aria-labelledby="menu-1-tab">
                            <div class="row">
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                    <div class="courses-box1">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                <img class="img-responsive" src="{% static 'img/course/1.jpg' %}" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="single-courses3.html">Basic Philosopphy</a></h3>
                                                <p class="item-content">Rmply dummy text printing setting industry it’s
                                                    free demo.</p>
                                                <ul class="courses-info">
                                                    <li>7 Months
                                                        <br><span> Course</span></li>
                                                    <li>30
                                                        <br><span> Classes</span></li>
                                                    <li>10 pm - 11 pm
                                                        <br><span> Classes</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                    <div class="courses-box1">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                <img class="img-responsive" src="{% static 'img/course/2.jpg' %}" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="single-courses3.html">GMAT</a></h3>
                                                <p class="item-content">Rmply dummy text printing setting industry it’s
                                                    free demo.</p>
                                                <ul class="courses-info">
                                                    <li>3 Months
                                                        <br><span> Course</span></li>
                                                    <li>30
                                                        <br><span> Classes</span></li>
                                                    <li>10 am - 11 am
                                                        <br><span> Classes</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                    <div class="courses-box1">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                <img class="img-responsive" src="{% static 'img/course/3.jpg' %}" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="single-courses3.html">IELTS</a></h3>
                                                <p class="item-content">Rmply dummy text printing setting industry it’s
                                                    free demo.</p>
                                                <ul class="courses-info">
                                                    <li>1 Year
                                                        <br><span> Course</span></li>
                                                    <li>30
                                                        <br><span> Classes</span></li>
                                                    <li>09 am - 11 am
                                                        <br><span> Classes</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                    <div class="courses-box1">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                <img class="img-responsive" src="{% static 'img/course/9.jpg' %}" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="single-courses3.html">CSE</a></h3>
                                                <p class="item-content">Rmply dummy text printing setting industry it’s
                                                    free demo.</p>
                                                <ul class="courses-info">
                                                    <li>2 Months
                                                        <br><span> Course</span></li>
                                                    <li>30
                                                        <br><span> Classes</span></li>
                                                    <li>02 pm - 04 pm
                                                        <br><span> Classes</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                    <div class="courses-box1">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                <img class="img-responsive" src="{% static 'img/course/10.jpg' %}" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="single-courses3.html">Diploma</a></h3>
                                                <p class="item-content">Rmply dummy text printing setting industry it’s
                                                    free demo.</p>
                                                <ul class="courses-info">
                                                    <li>4 Months
                                                        <br><span> Course</span></li>
                                                    <li>30
                                                        <br><span> Classes</span></li>
                                                    <li>08 am - 10 am
                                                        <br><span> Classes</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                    <div class="courses-box1">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                <img class="img-responsive" src="{% static 'img/course/11.jpg' %}" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="single-courses3.html">Mathematics</a></h3>
                                                <p class="item-content">Rmply dummy text printing setting industry it’s
                                                    free demo.</p>
                                                <ul class="courses-info">
                                                    <li>1 Year
                                                        <br><span> Course</span></li>
                                                    <li>30
                                                        <br><span> Classes</span></li>
                                                    <li>10 am - 12 pm
                                                        <br><span> Classes</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                    <div class="courses-box1">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                <img class="img-responsive" src="{% static 'img/course/12.jpg' %}" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="single-courses3.html">Basic Philosopphy</a></h3>
                                                <p class="item-content">Rmply dummy text printing setting industry it’s
                                                    free demo.</p>
                                                <ul class="courses-info">
                                                    <li>3 Years
                                                        <br><span> Course</span></li>
                                                    <li>30
                                                        <br><span> Classes</span></li>
                                                    <li>09 am - 11 am
                                                        <br><span> Classes</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                    <div class="courses-box1">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                <img class="img-responsive" src="{% static 'img/course/13.jpg' %}" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="single-courses3.html">GMAT--</a></h3>
                                                <p class="item-content">Rmply dummy text printing setting industry it’s
                                                    free demo.</p>
                                                <ul class="courses-info">
                                                    <li>10 Months
                                                        <br><span> Course</span></li>
                                                    <li>30
                                                        <br><span> Classes</span></li>
                                                    <li>05 pm - 08 pm
                                                        <br><span> Classes</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                                    <div class="courses-box1">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-bottom">
                                                <img class="img-responsive" src="{% static 'img/course/14.jpg' %}" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="single-courses3.html">IELTS</a></h3>
                                                <p class="item-content">Rmply dummy text printing setting industry it’s
                                                    free demo.</p>
                                                <ul class="courses-info">
                                                    <li>9 Months
                                                        <br><span> Course</span></li>
                                                    <li>30
                                                        <br><span> Classes</span></li>
                                                    <li>11 am - 02 pm
                                                        <br><span> Classes</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- Listed product show -->
                        <div class="tab-pane tab-item animated fadeIn show active" id="menu-2" role="tabpanel"
                             aria-labelledby="menu-2-tab">
                            <div class="row">
                                {% for i in courses %}
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="courses-box3">
                                        <div class="single-item-wrapper">
                                            <div class="courses-img-wrapper hvr-bounce-to-right">
                                                <img class="img-responsive" src="{{ i.feature_img.url }}" alt="courses">
                                                <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="courses-content-wrapper">
                                                <h3 class="item-title"><a href="{% url 'course' i.id %}">{{ i.course_title }}</a></h3>
                                                <p class="item-content">{{ i.short_description }}</p>
                                                <ul class="courses-info">
                                                    <li>{{ i.duration }}
                                                        <br><span> Course</span></li>
                                                    <li>{{ i.classes }}
                                                        <br><span> Classes</span></li>
                                                    <li>{{ i.time }}
                                                        <br><span> Time</span></li>
                                                </ul>
                                                <div class="courses-fee">${{ i.fees }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 order-md-1">
                    <div class="sidebar">
                        <div class="sidebar-box">
                            <div class="sidebar-box-inner">
                                <h3 class="sidebar-title">Find your Course</h3>
                                <div class="sidebar-find-course">
                                    <form id="checkout-form" method="GET" action="">
                                        <div class="form-group course-name">
                                            <input id="course_name" name="course_name" placeholder="Course Name" class="form-control"
                                                   type="text"/>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-select">
                                                <select id="district" class='select2 form-control' name='category'>
                                                    {% for i in categories %}
                                                    <option value="{{ i.id }}">{{ i.course_category }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group remember-style">
                                            <span><input name="free" id="free" type="checkbox">FREE</span>
                                            <span><input name="paid" id="paid" type="checkbox">PAID</span>
                                        </div>
                                        <div class="form-group">
                                            <button class="sidebar-search-btn disabled" type="submit" value="Login">
                                                Search Course
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-box">
                            <div class="sidebar-box-inner">
                                <h3 class="sidebar-title">Class Categories</h3>
                                <ul class="sidebar-categories">
                                    {% for i in categories %}
                                    <li><a href="#">{{ i.course_category }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses Page 1 Area End Here -->
    <!-- Footer Area Start Here -->

{% endblock %}