{% extends 'base.html' %}

{% block title %} Academics | View Course {% endblock %}

{% load static %}

{% block content %}

<!-- Header Area End Here -->
    <!-- Inner Page Banner Area Start Here -->
    <div class="inner-page-banner-area" style="background-image: url('../../static/img/banner/5.jpg');">
        <div class="container">
            <div class="pagination-area">
                <h1>Single Course - 03</h1>
                <ul>
                    <li><a href="#">Home</a> -</li>
                    <li>Courses Details</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Inner Page Banner Area End Here -->
    <!-- Courses Page 5 Area Start Here -->
    <div class="courses-page-area5">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
                    <div class="course-details-inner">
                        <h2 class="title-default-left title-bar-high">{{ course.course_title }}</h2>
                        <p>{{ course.short_description }}</p>
                        <div class="text-center">
                            <img src="{{ course.feature_img.url }}" class="img-responsive" alt="course">
                        </div>
                        <div class="course-details-tab-area">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12">
                                    <ul class="course-details-tab-btn nav" id="myTab" role="tablist">
                                        <li class="menu-item" role="presentation"><a class="menu-link active"
                                                                                     id="menu-1-tab"
                                                                                     data-bs-toggle="tab" href="#menu-1"
                                                                                     role="tab" aria-controls="menu-1"
                                                                                     aria-selected="false">Description</a>
                                        </li>
                                        <li class="menu-item" role="presentation"><a class="menu-link" id="menu-2-tab"
                                                                                     data-bs-toggle="tab" href="#menu-2"
                                                                                     role="tab" aria-controls="menu-2"
                                                                                     aria-selected="false">Curriculum</a>
                                        </li>
                                        <li class="menu-item" role="presentation"><a class="menu-link" id="menu-3-tab"
                                                                                     data-bs-toggle="tab" href="#menu-3"
                                                                                     role="tab" aria-controls="menu-3"
                                                                                     aria-selected="false">Lecturer</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12">
                                    <div class="tab-content">
                                        <div class="tab-pane tab-item animated fadeIn show active" id="menu-1"
                                             role="tabpanel" aria-labelledby="menu-1-tab">
                                            <h3 class="sidebar-title">Course Description</h3>
                                            <p>{{ course.description }}</p>
                                            <h3 class="sidebar-title">Certification</h3>
                                            <p>Dmply dummy text of the printing and typesetting industry. Lorem Ipsum
                                                has been the industry's standard dummy text ever since the 1500s, when
                                                an unknown printer took a galley of type and scrambled it to
                                                make a type specimen book. It has survived not only five centuries.</p>
                                            <h3 class="sidebar-title">Learning Outcomes</h3>
                                            <ul class="learning-outcomes">
                                                <li>Over 37 lectures and 55.5 hours of content!</li>
                                                <li>Testing Training Included.</li>
                                                <li>Learn Software Testing and Automation basics from a professional
                                                    trainer from your own desk.
                                                </li>
                                                <li>Information packed practical training starting from basics to
                                                    advanced testing techniques.
                                                </li>
                                                <li>Best suitable for beginners to advanced level users and who learn
                                                    faster when demonstrated.
                                                </li>
                                                <li>Course content designed by considering current software testing
                                                    technology and the job market.
                                                </li>
                                                <li>Practical assignments at the end of every session.</li>
                                                <li>Practical learning experience with live project work and examples.
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane tab-item animated fadeIn" id="menu-2" role="tabpanel"
                                             aria-labelledby="menu-1-tab">
                                            <h3 class="sidebar-title">{{ course.course_title }} Lectures</h3>
                                            <div class="panel-group curriculum-wrapper" id="accordionExample">
                                                <div class="panel panel-default accordion-item">
                                                    <div class="panel-heading" id="headingOne">
                                                        <div class="panel-title">
                                                            <button class="accordion-button" type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#collapseOne" aria-expanded="true"
                                                                    aria-controls="collapseOne">
                                                                <ul>
                                                                    <li><i class="fa fa-file-o" aria-hidden="true"></i>
                                                                    </li>
                                                                    <li>{{ course.lecture }}</li>
                                                                    <li>{{ course.lecture_question }}</li>
                                                                    <li><i class="fa fa-clock-o"
                                                                           aria-hidden="true"><span>{{ course.lecture_duration }}</span></i>
                                                                    </li>
                                                                </ul>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                                         aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="panel-body">
                                                            {{ course.lecture_description }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane tab-item animated fadeIn" id="menu-3" role="tabpanel"
                                             aria-labelledby="menu-1-tab">
                                            <div class="course-details-skilled-lecturers">
                                                <ul>
                                                    {% for teacher in teachers %}
                                                    <li>
                                                        <div class="skilled-lecturers-img">
                                                            <a href="#"><img src="{{ teacher.image.url }}" class="img-responsive" alt="skilled"></a>
                                                        </div>
                                                        <div class="skilled-lecturers-content">
                                                            <h4><a href="#">{{ teacher.name }}</a></h4>
                                                            <p>{{ teacher.designation }}</p>
                                                        </div>
                                                        <div class="skilled-lecturers-schedule">
                                                            <ul>
                                                                <li>
                                                                    <h4>Day</h4>
                                                                    <p>Wed Day</p>
                                                                </li>
                                                                <li>
                                                                    <h4>Time</h4>
                                                                    <p>{{ course.duration }}</p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="skilled-lecturers-details">
                                                            <a href="#" class="details-accent-btn">Details</a>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                    <div class="sidebar">
                        <div class="sidebar-box">
                            <div class="sidebar-box-inner">
                                <h3 class="sidebar-title">Course Price</h3>
                                <div class="sidebar-course-price">
                                    <span>${{ course.fees }}</span>
                                    <a href="#" class="enroll-btn">Enroll THis Course</a>
                                    <a href="#" class="download-btn">Download PDF</a>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-box">
                            <div class="sidebar-box-inner">
                                <h3 class="sidebar-title">Asked Any Question?</h3>
                                <div class="sidebar-question-form">
                                    <form id="question-form" action="" method="POST">
                                        {% csrf_token %}
                                        <fieldset>
                                            <div class="form-group">
                                                <input type="text" placeholder="Name*" class="form-control" name="name"
                                                       id="form-name" data-error="Name field is required" required>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" placeholder="Email*" class="form-control"
                                                       name="email" id="form-email" data-error="Email field is required"
                                                       required>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group">
                                                <textarea placeholder="Message*" class="textarea form-control"
                                                          name="message" id="sidebar-form-message" rows="3" cols="20"
                                                          data-error="Message field is required" required></textarea>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="default-full-width-btn">Send</button>
                                            </div>
                                            <div class='form-response'></div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses Page 5 Area End Here -->
    <!-- Footer Area Start Here -->

{% endblock %}