{% extends 'base.html' %}

{% block title %} Academics | Gallery {% endblock %}

{% block content %}

{% load static %}
<!-- Header Area End Here -->
        <!-- Inner Page Banner Area Start Here -->
        <div class="inner-page-banner-area" style="background-image: url('../../static/img/banner/5.jpg');">
            <div class="container">
                <div class="pagination-area">
                    <h1>Gallery_02</h1>
                    <ul>
                        <li><a href="#">Home</a> -</li>
                        <li>Gallery</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Inner Page Banner Area End Here -->
        <!-- Gallery Area 2 Start Here -->
        <div class="gallery-area2">
            <div class="container" id="inner-isotope">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="isotop-classes-tab isotop-btn">
                            <a href="#" data-filter="*" class="current">All</a>
                            <a href="#" data-filter=".library"> Library</a>
                            <a href="#" data-filter=".room">Room</a>
                            <a href="#" data-filter=".auditoriam">Auditoriam</a>
                            <a href="#" data-filter=".campus">Campus</a>
                            <a href="#" data-filter=".class">Class</a>
                        </div>
                    </div>
                </div>
                <div class="row featuredContainer gallery-wrapper">
                    {% for i in events %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 room library auditoriam campus">
                        <div class="gallery-box">
                            <img src="{{ i.image.url }}" class="img-responsive" alt="gallery">
                            <div class="gallery-content">
                                <a href="#" class="zoom"><i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        <!-- Gallery Area 2 End Here -->
        <!-- Footer Area Start Here -->

{% endblock %}