    {% load static %}
    <!-- Header Area Start Here -->
        <div id="header1" class="header1-area">
            <div class="main-menu-area bg-primary" id="sticker">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-3">
                            <div class="logo-area">
                                <a href="{% url 'home' %}"><img class="img-responsive" src="{% static 'img/logo.png' %}" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-9">
                            <nav id="desktop-nav">
                                <ul>
                                    <li class="active"><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'about' %}">About</a></li>
                                    <li><a href="{% url 'courses' %}">Courses</a>
                                        <ul>
                                            <li><a href="{% url 'courses' %}">Courses</a></li>
                                            <li><a href="{% url 'lecturers' %}">Lecturers</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'news' %}">News</a>
                                        <ul>
                                            <li><a href="{% url 'news' %}">News</a></li>
                                            <li><a href="{% url 'event' %}">Event</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'gallery' %}">Gallery</a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-2 d-none d-lg-block">
                            <div class="apply-btn-area">
                                <a href="#" class="apply-now-btn">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu Area Start -->
        <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li class="active"><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'about' %}">About</a></li>
                                    <li><a href="{% url 'courses' %}">Courses</a>
                                        <ul>
                                            <li><a href="{% url 'courses' %}">Courses</a></li>
                                            <li><a href="{% url 'lecturers' %}">Lecturers</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'news' %}">News</a>
                                        <ul>
                                            <li><a href="{% url 'news' %}">News</a></li>
                                            <li><a href="{% url 'event' %}">Event</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'gallery' %}">Gallery</a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu Area End -->
